[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
google-api-python-client = "*"
tweepy = "*"
urlextract = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
